apiVersion: v1
kind: Service
metadata:
  name: redis-demo
  labels:
    app: redis-demo
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: redis
      protocol: TCP
      name: redis
  selector:
    app: redis-demo
